ion-content{
  --background: #402F25;
}

.header-button{
  width: 40px;;
  height: 40px;
}

.last-slide{
  margin-top: 50%;
  width: auto;
}

.introHeader {
  font-family: 'Segoe UI Semibold';
  color: var(--ion-color-icons);
}


p {
  font-size: 20px;
  font-weight: bold;
  font-family: 'Segoe Print';
  margin-left: 3%;
}

img{
  display: flex;
  text-align: center;
  align-self: center;
  margin: auto;
}


