/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

.ion-color-icons {
  --ion-color-base: var(--ion-color-icons);
  --ion-color-base-rgb: var(--ion-color-icons-rgb);
  --ion-color-contrast: var(--ion-color-icons-contrast);
  --ion-color-contrast-rgb: var(--ion-color-icons-contrast-rgb);
  --ion-color-shade: var(--ion-color-icons-shade);
  --ion-color-tint: var(--ion-color-icons-tint);
}

.ion-color-togglebutton {
  --ion-color-base: var(--ion-color-togglebutton);
  --ion-color-base-rgb: var(--ion-color-togglebutton-rgb);
  --ion-color-contrast: var(--ion-color-togglebutton-contrast);
  --ion-color-contrast-rgb: var(--ion-color-togglebutton-contrast-rgb);
  --ion-color-shade: var(--ion-color-togglebutton-shade);
  --ion-color-tint: var(--ion-color-togglebutton-tint);
}
ion-header {
  background: rgb(42, 40, 38);
  background: linear-gradient(
    180deg,
    rgba(42, 40, 38, 1) 29%,
    rgba(22, 21, 20, 1) 78%
  );
}
ion-content {
  --background: url("assets/images/bgpages.png") center / auto no-repeat;
  background-color: #201e1e;
  background-blend-mode: overlay;
}
ion-title {
  size: 90%;
  color: #ffff;
  font-family: "Segoe Print";
  color: #ffffff;
  background: #333333;
  text-shadow: 0 -1px 2px #fff, 0 -1px 5px #ff0, 0 -5px 10px #ff8000;
  font-weight: bold;
  font-size: 30px;
  text-transform: capitalize;
  text-align: center;
}
ion-input {
  font-family: "Segoe Script";
}
span {
  color: var(--custom-span);
}
