<ion-header>
  <ion-toolbar>
    <ion-buttons>
      <ion-button (click)="goToLogin()"> Atras </ion-button>
    </ion-buttons>
    <ion-title>Registro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form
    [formGroup]="registerForm"
    (ngSubmit)="registerUser(registerForm.value)"
  >
    <ion-item class="inputs">
      <ion-input
        label="Email"
        labelPlacement="floating"
        placeholder="name@example.com"
        formControlName="email"
      ></ion-input>
    </ion-item>

    <ion-item class="inputs">
      <ion-input
        label="Contraseña"
        labelPlacement="floating"
        placeholder="*******"
        type="password"
        formControlName="password"
      ></ion-input>
    </ion-item>

    <ion-item class="inputs">
      <ion-input
        label="Nombre"
        labelPlacement="floating"
        placeholder="Nombre"
        formControlName="name"
      ></ion-input>
    </ion-item>

    <ion-item class="inputs">
      <ion-input
        label="Apellido"
        labelPlacement="floating"
        placeholder="Apellido"
        formControlName="last_name"
      ></ion-input>
    </ion-item>

    <ion-button type="submit" [disabled]="!registerForm.valid">
      Registrarse
    </ion-button>
  </form>
</ion-content>
